@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: black;
  background-color: #e9e9e9;
  font-family: "Poppins", sans-serif; }

html {
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: normal;
  color: black; }

a {
  text-decoration: none;
  color: white; }

li {
  list-style-type: none; }

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 576px) {
    .container {
      width: 550px; } }
  @media only screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media only screen and (min-width: 1600px) {
    .container {
      width: 1250px; } }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  color: black;
  background-color: #e9e9e9;
  font-family: "Poppins", sans-serif; }

html {
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: normal;
  color: black; }

a {
  text-decoration: none;
  color: white; }

li {
  list-style-type: none; }

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 576px) {
    .container {
      width: 550px; } }
  @media only screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media only screen and (min-width: 1600px) {
    .container {
      width: 1250px; } }

.navbar {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  background-color: #b8b8b8;
  z-index: 999; }
  @media only screen and (min-width: 576px) {
    .navbar {
      grid-template-columns: 300px 1fr 110px;
      padding: 0px 30px; } }
  .navbar__brand {
    display: flex;
    height: 50px;
    align-items: center; }
    .navbar__brand i {
      font-size: 30px;
      color: white; }
    .navbar__brand label {
      color: white;
      font-size: 20px;
      margin-left: 10px;
      transform: translate(-100%);
      opacity: 0;
      transition: all .3s .3s; }
      @media only screen and (min-width: 576px) {
        .navbar__brand label {
          display: block;
          transform: translate(0);
          opacity: 1; } }
  .navbar__menu {
    display: flex;
    align-items: center;
    height: 50px; }
    .navbar__menu .hamburger {
      font-size: 30px;
      cursor: pointer;
      background-color: transparent;
      border: none; }
      .navbar__menu .hamburger i {
        color: white; }
    .navbar__menu .search {
      margin-left: 20px;
      display: flex;
      position: relative; }
      .navbar__menu .search i {
        color: white;
        position: absolute;
        top: 5px;
        left: 8px; }
      .navbar__menu .search input {
        border: none;
        outline: none;
        font-size: 16px;
        letter-spacing: 1px;
        background-color: transparent;
        border-radius: 30px;
        height: 30px;
        padding-left: 30px;
        color: white;
        transition: .3s; }
        .navbar__menu .search input:focus, .navbar__menu .search input:hover {
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
        .navbar__menu .search input::placeholder {
          color: white; }
  .navbar__settings {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navbar__settings .notification {
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbar__settings .notification__wrapper {
        position: relative;
        width: 30px; }
      .navbar__settings .notification__btn {
        width: 100%;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative; }
        .navbar__settings .notification__btn i {
          color: #fff;
          font-size: 20px; }
        .navbar__settings .notification__btn::before {
          content: '3';
          color: #e4e4e4;
          font-size: 10px;
          position: absolute;
          left: 16px;
          top: -3px;
          width: 12px;
          height: 12px;
          background-color: #000000b3;
          border-radius: 10px; }
      .navbar__settings .notification__dropdown {
        top: 50px;
        left: -230px;
        border-radius: 5px;
        position: absolute;
        background-color: #fff;
        min-width: 250px;
        height: auto;
        box-shadow: 0px 0px 10px #00000052; }
        .navbar__settings .notification__dropdown .dropdown {
          padding-top: 10px; }
          .navbar__settings .notification__dropdown .dropdown__title {
            color: black;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 300;
            padding: 0px 10px;
            margin-bottom: 10px; }
          .navbar__settings .notification__dropdown .dropdown__items {
            width: 100%;
            padding: 10px 15px;
            cursor: pointer;
            transition: background .2s ease-in-out; }
            .navbar__settings .notification__dropdown .dropdown__items:hover {
              background: #e2e2e2b9; }
            .navbar__settings .notification__dropdown .dropdown__items:last-child {
              border-radius: 0px 0px 5px 5px; }
            .navbar__settings .notification__dropdown .dropdown__items a {
              display: flex;
              width: 100%;
              height: 100%;
              color: black; }
            .navbar__settings .notification__dropdown .dropdown__items i {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              color: #fff;
              text-align: center;
              line-height: 40px;
              font-size: 23px;
              background-color: #46cf46; }
            .navbar__settings .notification__dropdown .dropdown__items .item-box {
              margin-left: 10px; }
              .navbar__settings .notification__dropdown .dropdown__items .item-box h6 {
                font-size: 16px;
                font-weight: 300;
                color: black; }
              .navbar__settings .notification__dropdown .dropdown__items .item-box p {
                font-size: 14px;
                font-weight: 300;
                color: #7c7c7c; }
    .navbar__settings .profile {
      width: 35px;
      height: 35px;
      transform: translateY(-3px);
      cursor: pointer;
      position: relative; }
      .navbar__settings .profile img {
        border-radius: 50%;
        width: 100%; }
      .navbar__settings .profile__dropdown {
        position: absolute;
        background-color: #fff;
        min-width: 150px;
        top: 55px;
        left: -130px;
        border-radius: 5px;
        z-index: 999;
        box-shadow: 0px 0px 10px #00000052; }
      .navbar__settings .profile__inner {
        padding: 10px 0; }
      .navbar__settings .profile__item {
        width: 100%;
        padding: 10px 15px;
        cursor: pointer;
        transition: background .2s ease-in-out; }
        .navbar__settings .profile__item:hover {
          background: #e2e2e2b9; }
        .navbar__settings .profile__item i {
          color: #663f85;
          font-size: 23px; }
      .navbar__settings .profile__link {
        display: flex;
        align-items: center; }
        .navbar__settings .profile__link h6 {
          margin-left: 10px;
          font-size: 18px;
          font-weight: 300; }
    .navbar__settings .todo-btn {
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .navbar__settings .todo-btn i {
        font-size: 20px;
        color: white;
        transform: rotate(90deg); }

.show {
  animation: show-dropdown .3s forwards; }

.hide {
  animation: hide-dropdown .3s forwards; }

@keyframes show-dropdown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  1% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    display: visible; } }

@keyframes hide-dropdown {
  0% {
    opacity: 1;
    transform: translateY(0px); }
  99% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-20px); }
  100% {
    visibility: hidden; } }

.sidebar {
  position: fixed;
  padding-top: 20px;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 300px;
  height: calc(100vh - 50px);
  background-color: #fff;
  transition: all .3s ease-in-out; }
  .sidebar ul {
    padding: 20px 0 0 20px; }
    .sidebar ul li a {
      color: black; }
  .sidebar .change-mode-wrapper {
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .sidebar .change-mode-wrapper .mode-btn {
      width: 100px;
      height: 40px;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      transition: transform .2s ease-in-out; }
      .sidebar .change-mode-wrapper .mode-btn i {
        font-size: 20px; }
      .sidebar .change-mode-wrapper .mode-btn--dark-mode {
        background-color: #292929;
        color: white; }
      .sidebar .change-mode-wrapper .mode-btn:hover {
        transform: scale(0.97); }
      .sidebar .change-mode-wrapper .mode-btn:active {
        transform: scale(1.02); }
  .sidebar .nav {
    margin-top: 20px; }
    .sidebar .nav__item {
      margin-bottom: 5px; }
    .sidebar .nav__link {
      position: relative;
      border-radius: 5px 0 0 5px;
      padding: 10px 10px;
      display: block;
      transition: background-color .2s ease; }
      .sidebar .nav__link:hover {
        background-color: #62c5c0; }
        .sidebar .nav__link:hover .nav__title {
          animation: move-right .3s; }
    .sidebar .nav__icon {
      width: 25px;
      font-size: 25px;
      color: #6e6e6e; }
      .sidebar .nav__icon.toggle {
        display: none; }
    .sidebar .nav__title {
      margin-left: 10px;
      position: absolute;
      font-size: 18px;
      font-weight: 300; }
    .sidebar .nav__arrow {
      line-height: 1.5;
      position: absolute;
      right: 25px;
      font-size: 20px;
      transition: translate .2s ease-in-out; }
      .sidebar .nav__arrow.active {
        transform: rotate(90deg); }

.sidebar.toggle {
  transform: translate(-300px); }
  @media only screen and (min-width: 576px) {
    .sidebar.toggle {
      transform: translate(-250px); }
      .sidebar.toggle .nav__arrow,
      .sidebar.toggle .nav__title {
        display: none; }
      .sidebar.toggle .nav__icon {
        margin-left: auto;
        margin-right: 0; } }

@keyframes move-right {
  0% {
    transform: translateX(0); }
  50% {
    transform: translate(5px); }
  100% {
    transform: translateX(0); } }

.right-sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #ececec;
  top: 50px;
  right: 0;
  bottom: 0;
  border-left: 1px solid #666666;
  transform: translateX(300px);
  transition: transform .3s ease-in-out;
  z-index: 10;
  overflow-y: scroll; }
  .right-sidebar--active {
    transform: translateX(0); }
  .right-sidebar__close-btn {
    position: absolute;
    right: 10px;
    top: 6px;
    background-color: transparent;
    font-size: 25px;
    outline: none;
    padding: 5px;
    cursor: pointer;
    border: none;
    transition: transform .3s ease-in-out; }
    .right-sidebar__close-btn:hover {
      transform: rotate(90deg); }
  .right-sidebar__nav {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #b8b8b8; }
    .right-sidebar__nav .nav {
      display: flex;
      height: 50px;
      padding-right: 50px;
      justify-content: space-around;
      align-items: center; }
      .right-sidebar__nav .nav__link {
        padding: 2px;
        color: black;
        text-transform: uppercase; }
        .right-sidebar__nav .nav__link--active {
          color: #4B49AC; }
  .right-sidebar__content {
    width: 100%;
    height: auto;
    padding: 0 10px; }
    .right-sidebar__content .todo-app__add-task {
      padding: 20px 0;
      display: flex;
      justify-content: space-between; }
      .right-sidebar__content .todo-app__add-task input {
        padding: 10px 10px;
        border-radius: 10px;
        border: 1px solid #6e6e6e;
        background-color: transparent;
        outline: none;
        font-size: 14px; }
      .right-sidebar__content .todo-app__add-task button {
        border: none;
        border-radius: 10px;
        background-color: #4B49AC;
        padding: 0 20px;
        cursor: pointer;
        color: #ececec;
        transition: background-color .2s ease-in-out; }
        .right-sidebar__content .todo-app__add-task button:hover {
          background-color: #3c3a8d; }
    .right-sidebar__content .todo-app__list {
      margin-bottom: 20px;
      overflow-y: auto;
      max-height: 300px; }
      .right-sidebar__content .todo-app__list::-webkit-scrollbar {
        width: 3px; }
      .right-sidebar__content .todo-app__list::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
      .right-sidebar__content .todo-app__list::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
        border-radius: 10px; }
    .right-sidebar__content .todo-app__item {
      border: 1px solid #6e6e6e;
      border-radius: 10px;
      padding: 15px 10px;
      margin-bottom: 7px;
      position: relative; }
    .right-sidebar__content .todo-app__remove-item {
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      font-size: 20px;
      top: 15px;
      right: 20px;
      transition: color .2s ease-in-out; }
      .right-sidebar__content .todo-app__remove-item:hover {
        color: #6e6e6e; }
    .right-sidebar__content .events__title {
      font-size: 26px;
      font-weight: 300;
      color: #666666;
      margin-bottom: 20px; }
    .right-sidebar__content .events__event-item {
      margin-bottom: 20px; }
      .right-sidebar__content .events__event-item .date {
        display: flex;
        align-items: center; }
        .right-sidebar__content .events__event-item .date p {
          margin-left: 10px;
          font-size: 20px;
          font-weight: 300; }
      .right-sidebar__content .events__event-item .event-description {
        font-size: 16px;
        font-weight: 300;
        color: #666666; }

.main-section {
  position: absolute;
  width: calc(100% - 50px);
  top: 50px;
  left: 50px;
  background-color: #F5F7FF;
  transition: width .3s ease-in-out, left .3s ease-in-out;
  padding: 30px; }

.panel-active {
  width: calc(100% - 300px);
  left: 300px; }

.second-section {
  width: 100%;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 992px) {
    .second-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px; } }

.third-section {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column; }

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; }
  @media only screen and (min-width: 992px) {
    .section--col-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px; } }
  @media only screen and (min-width: 992px) {
    .section--col-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px; } }

.dashboard {
  z-index: 0; }
  .dashboard__header {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px; }
    .dashboard__header .header__title {
      font-size: 28px;
      letter-spacing: 1px;
      font-weight: 400; }
    .dashboard__header .header__subtitle {
      font-size: 16px;
      font-weight: 300; }
      .dashboard__header .header__subtitle span {
        color: #4B49AC; }
    .dashboard__header .header__btn {
      padding: 7px 15px;
      border-radius: 15px;
      border: 1px solid transparent;
      background-color: #fff;
      color: #6e6e6e;
      cursor: pointer;
      font-weight: 300;
      font-size: 15px;
      transition: border .3s ease, box-shadow .3s ease; }
      .dashboard__header .header__btn:hover {
        border: 1px solid #ececec; }
      .dashboard__header .header__btn:focus {
        box-shadow: 0 0 2px 2px #e6e6e6;
        border: 1px solid #ececec; }
      .dashboard__header .header__btn i {
        margin-left: 5px;
        transform: rotate(90deg);
        font-size: 18px; }
  .dashboard__wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    margin-bottom: 30px; }
    @media only screen and (min-width: 992px) {
      .dashboard__wrapper {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr); } }
    .dashboard__wrapper .weather-box {
      position: relative;
      border-radius: 20px; }
      .dashboard__wrapper .weather-box__background {
        width: 100%;
        border-radius: 20px; }
      .dashboard__wrapper .weather-box .weather-info {
        position: absolute;
        top: 30px;
        right: 50px; }
    .dashboard__wrapper .card-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px; }
      .dashboard__wrapper .card-box .card-body {
        border-radius: 20px;
        padding: 20px;
        background-color: red; }
        .dashboard__wrapper .card-box .card-body__title {
          color: #fff;
          font-size: 16px;
          margin-bottom: 15px; }
          @media only screen and (min-width: 1600px) {
            .dashboard__wrapper .card-box .card-body__title {
              margin-bottom: 25px; } }
        .dashboard__wrapper .card-box .card-body__value {
          color: #fff;
          font-size: 26px; }
          @media only screen and (min-width: 1600px) {
            .dashboard__wrapper .card-box .card-body__value {
              font-size: 40px; } }
        .dashboard__wrapper .card-box .card-body__percent-value {
          color: #fff;
          font-size: 14px; }
          @media only screen and (min-width: 1600px) {
            .dashboard__wrapper .card-box .card-body__percent-value {
              font-size: 20px; } }
        .dashboard__wrapper .card-box .card-body:nth-child(1) {
          background-color: #7da0fa; }
          .dashboard__wrapper .card-box .card-body:nth-child(1):hover {
            background-color: #93aff7; }
        .dashboard__wrapper .card-box .card-body:nth-child(2) {
          background-color: #4747A1; }
          .dashboard__wrapper .card-box .card-body:nth-child(2):hover {
            background-color: #5252a0; }
        .dashboard__wrapper .card-box .card-body:nth-child(3) {
          background-color: #7978E9; }
          .dashboard__wrapper .card-box .card-body:nth-child(3):hover {
            background-color: #9bb5f7; }
        .dashboard__wrapper .card-box .card-body:nth-child(4) {
          background-color: #F3797E; }
          .dashboard__wrapper .card-box .card-body:nth-child(4):hover {
            background-color: #f7898d; }
  .dashboard .order-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px; }
    .dashboard .order-details__title {
      font-size: 20px;
      font-weight: 500;
      color: #000;
      margin-bottom: 10px; }
    .dashboard .order-details__text {
      font-size: 16px;
      font-weight: 400;
      color: #000; }
    .dashboard .order-details__box {
      display: flex;
      flex-wrap: wrap; }
      @media only screen and (min-width: 576px) {
        .dashboard .order-details__box {
          display: flex;
          flex-direction: row;
          justify-content: space-between; } }
      .dashboard .order-details__box .box-item {
        padding-right: 20px;
        margin-bottom: 20px; }
        .dashboard .order-details__box .box-item p {
          font-size: 14px;
          color: #6e6e6e; }
        .dashboard .order-details__box .box-item h4 {
          font-size: 30px;
          color: #4B49AC;
          font-weight: 600; }
  .dashboard .sales-report {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px; }
    .dashboard .sales-report__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .dashboard .sales-report__title {
      font-size: 20px;
      font-weight: 500;
      color: #000;
      margin-bottom: 10px; }
    .dashboard .sales-report__link {
      color: #248AFD;
      margin-right: 5px; }
  .dashboard .carousel {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    position: relative; }
    .dashboard .carousel__control {
      position: absolute;
      right: 20px; }
    .dashboard .carousel__btn {
      cursor: pointer;
      height: 35px;
      width: 35px;
      display: inline-block;
      text-align: center;
      line-height: 1.35;
      border-radius: 10px;
      background-color: #0000001a;
      color: #6e6e6e;
      font-size: 28px;
      transition: background-color .2s ease; }
      .dashboard .carousel__btn:hover {
        background-color: #0000002d; }
    .dashboard .carousel__item {
      width: 100%;
      margin-top: 25px;
      display: flex;
      flex-direction: column; }
      @media only screen and (min-width: 992px) {
        .dashboard .carousel__item {
          display: grid;
          grid-template-columns: 0.75fr 1fr 2px .6fr;
          grid-gap: 20px; } }
      .dashboard .carousel__item .title {
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 12px;
        color: #000;
        font-weight: 600; }
      .dashboard .carousel__item .value {
        font-size: 42px;
        color: #4B49AC;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 5px;
        font-family: "Nunito", sans-serif; }
      .dashboard .carousel__item .label {
        font-weight: 600;
        font-size: 22px;
        color: #4B49AC;
        font-family: "Nunito", sans-serif;
        margin-bottom: 5px; }
      .dashboard .carousel__item .text {
        font-size: 14px;
        color: #666666;
        margin-bottom: 25px; }
      .dashboard .carousel__item .skills {
        margin-top: 20px;
        margin-bottom: 50px; }
        @media only screen and (min-width: 992px) {
          .dashboard .carousel__item .skills {
            margin-bottom: 0; } }
        .dashboard .carousel__item .skills__wrapper {
          width: 100%;
          margin-bottom: 10px;
          display: grid;
          grid-template-columns: 100px 1fr auto; }
          @media only screen and (min-width: 992px) {
            .dashboard .carousel__item .skills__wrapper {
              margin-bottom: 30px; } }
        .dashboard .carousel__item .skills__label {
          font-size: 14px;
          color: #666666; }
        .dashboard .carousel__item .skills__progress {
          width: 100%;
          background-color: #b8b8b8;
          height: 10px;
          border-radius: 10px;
          align-self: center;
          position: relative; }
        .dashboard .carousel__item .skills__progress-bar {
          position: absolute;
          height: 10px;
          border-radius: 10px;
          top: 0;
          left: 0;
          width: 40%; }
          .dashboard .carousel__item .skills__progress-bar.bg-1 {
            background-color: #4B49AC; }
          .dashboard .carousel__item .skills__progress-bar.bg-2 {
            background-color: #248AFD; }
          .dashboard .carousel__item .skills__progress-bar.bg-3 {
            background-color: #ffa500; }
        .dashboard .carousel__item .skills__value {
          margin-left: 10px;
          text-align: right; }
      .dashboard .carousel__item .divider {
        width: 1px;
        background-color: #b8b8b8;
        height: 100%; }
      .dashboard .carousel__item .slider-chart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; }
  .dashboard .top-products {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    width: 100%;
    overflow-x: scroll; }
    @media only screen and (min-width: 768px) {
      .dashboard .top-products {
        overflow: visible; } }
    .dashboard .top-products__title {
      font-size: 18px;
      color: #000;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      margin-bottom: 20px; }
    .dashboard .top-products__table table {
      min-width: 580px;
      border-collapse: collapse;
      border-spacing: 2px; }
      @media only screen and (min-width: 768px) {
        .dashboard .top-products__table table {
          width: 100%; } }
      .dashboard .top-products__table table td, .dashboard .top-products__table table th {
        padding: 18px 22px; }
      .dashboard .top-products__table table thead th {
        font-weight: 500;
        font-size: 14px;
        text-align: left; }
      .dashboard .top-products__table table tbody tr td {
        font-weight: 300;
        font-family: "Nunito", sans-serif;
        color: #000; }
        .dashboard .top-products__table table tbody tr td:nth-of-type(2) {
          font-weight: bold; }
      .dashboard .top-products__table table .status {
        padding: 5px 7px;
        border-radius: 15px;
        font-size: 14px; }
        .dashboard .top-products__table table .status--completed {
          color: #ececec;
          background-color: #359e27; }
        .dashboard .top-products__table table .status--pending {
          color: #000;
          background-color: #ffa500; }
        .dashboard .top-products__table table .status--cancelled {
          color: #ececec;
          background-color: #d84c4c; }
      .dashboard .top-products__table table tbody tr:nth-of-type(odd) {
        background-color: #f8f8f8; }
  .dashboard .todo-app__add-task {
    padding: 20px 0;
    display: flex;
    justify-content: space-between; }
    .dashboard .todo-app__add-task input {
      padding: 10px 10px;
      border-radius: 10px;
      border: 1px solid #6e6e6e;
      background-color: transparent;
      outline: none;
      font-size: 14px; }
    .dashboard .todo-app__add-task button {
      border: none;
      border-radius: 10px;
      background-color: #4B49AC;
      padding: 0 20px;
      cursor: pointer;
      color: #ececec;
      transition: background-color .2s ease-in-out; }
      .dashboard .todo-app__add-task button:hover {
        background-color: #3c3a8d; }
  .dashboard .todo-app__list {
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 300px; }
    .dashboard .todo-app__list::-webkit-scrollbar {
      width: 3px; }
    .dashboard .todo-app__list::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .dashboard .todo-app__list::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: 10px; }
  .dashboard .todo-app__item {
    border: 1px solid #6e6e6e;
    border-radius: 10px;
    padding: 15px 10px;
    margin-bottom: 7px;
    position: relative; }
  .dashboard .todo-app__remove-item {
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    top: 15px;
    right: 20px;
    transition: color .2s ease-in-out; }
    .dashboard .todo-app__remove-item:hover {
      color: #6e6e6e; }
  .dashboard .card {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px; }
    .dashboard .card__title {
      font-size: 18px;
      font-weight: 500;
      color: #000;
      margin-bottom: 20px; }
      .dashboard .card__title--white {
        color: #ececec; }
  .dashboard .project-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    overflow-x: scroll;
    border-collapse: collapse; }
    .dashboard .project-table thead {
      border-spacing: 2px;
      text-align: left; }
      .dashboard .project-table thead th {
        border-bottom: 1px solid #b8b8b8; }
    .dashboard .project-table td {
      padding: 14px 0px; }
    .dashboard .project-table td {
      font-size: 14px; }
    @media only screen and (min-width: 768px) {
      .dashboard .project-table {
        overflow: visible; } }
  .dashboard .charts {
    margin-bottom: 20px; }
    .dashboard .charts__item {
      display: flex;
      flex-direction: column; }
    .dashboard .charts__label {
      font-size: 14px;
      font-family: "Nunito", sans-serif; }
    .dashboard .charts__bar {
      display: flex; }
    .dashboard .charts__progress-bar {
      width: 100%;
      background-color: #b8b8b8;
      height: 10px;
      border-radius: 10px;
      align-self: center;
      position: relative; }
    .dashboard .charts__progress-inner {
      position: absolute;
      height: 10px;
      width: 40%;
      border-radius: 10px; }
      .dashboard .charts__progress-inner--bg-1 {
        background-color: #4B49AC; }
    .dashboard .charts__value {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      margin-left: 15px; }
  .dashboard .box-in-chart {
    background-color: #4B49AC;
    border-radius: 20px;
    padding: 20px; }
    .dashboard .box-in-chart__inner {
      display: grid;
      grid-template-columns: .7fr .3fr; }
    .dashboard .box-in-chart__item {
      display: flex;
      flex-direction: column; }
    .dashboard .box-in-chart__subtitle {
      font-size: 28px;
      color: #ececec; }
    .dashboard .box-in-chart__text {
      font-size: 14px;
      color: #ececec; }
  .dashboard .icon-data-list__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    margin-bottom: 10px; }
  .dashboard .icon-data-list__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .dashboard .icon-data-list__info {
    display: flex;
    flex-direction: column; }
  .dashboard .icon-data-list__name {
    font-size: 15px;
    color: #248AFD;
    font-family: "Nunito", sans-serif;
    margin-bottom: 7px; }
  .dashboard .icon-data-list__description {
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 5px; }
  .dashboard .icon-data-list__time {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    color: #6e6e6e; }
  .dashboard .advanced-table {
    background-color: #fff;
    width: 100%;
    overflow-x: scroll; }
    @media only screen and (min-width: 992px) {
      .dashboard .advanced-table {
        overflow: visible; } }
    .dashboard .advanced-table table {
      min-width: 820px;
      border-collapse: collapse;
      border-spacing: 2px; }
      @media only screen and (min-width: 992px) {
        .dashboard .advanced-table table {
          min-width: 100%; } }
      .dashboard .advanced-table table thead {
        text-align: left;
        background-color: #4B49AC;
        padding: 5px;
        border-radius: 10px; }
        .dashboard .advanced-table table thead th {
          color: #fff;
          font-size: 15px;
          font-family: "Nunito", sans-serif;
          padding: 10px; }
          .dashboard .advanced-table table thead th:first-child {
            border-radius: 8px 0 0 8px; }
          .dashboard .advanced-table table thead th:last-child {
            width: 22px;
            border-radius: 0 8px 8px 0; }
      .dashboard .advanced-table table tbody tr:nth-of-type(even) {
        background-color: #ececec; }
      .dashboard .advanced-table table tbody td {
        padding: 10px;
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 5px; }
