// DASHBOARD styles

.dashboard{
    z-index: 0;
    
    &__header{
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .header{
            &__title{
                font-size: 28px;
                letter-spacing: 1px;
                font-weight: 400;
            }

            &__subtitle{
                font-size: 16px;
                font-weight: 300;
                span{
                    color: $color-5;
                }
            }
            &__btn{
                padding: 7px 15px;
                border-radius: 15px;
                border: 1px solid transparent;
                background-color: #fff;
                color: $color-3;
                cursor: pointer;
                font-weight: 300;
                font-size: 15px;
                transition: border .3s ease, box-shadow .3s ease;

                &:hover{
                    border: 1px solid $color-0;
                }
                &:focus{
                    box-shadow: 0 0 2px 2px #e6e6e6;
                    border: 1px solid $color-0;
                }

                i{
                    margin-left: 5px;
                    transform: rotate(90deg);
                    font-size: 18px;
                }
            }
        }
    }

    &__wrapper{
        width: 100%;
        height: auto;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
        @include bp(medium){
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);

        }


        .weather-box{
            position: relative;
            border-radius: 20px;

            &__background{
                width: 100%;
                border-radius: 20px;
            }

            .weather-info{
                position: absolute;
                top: 30px;
                right: 50px;
            }
        }
        
        .card-box{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,1fr);
            grid-gap: 20px;

            .card-body{
                border-radius: 20px;
                padding: 20px;
                background-color: red;

                &__title{
                    color: $white;
                    font-size: 16px;
                    margin-bottom: 15px;

                    @include bp(large) {
                        margin-bottom: 25px;
                    }
                }
                &__value{
                    color: $white;
                    font-size: 26px;

                    @include bp(large){
                        font-size: 40px;
                    }
                }
                &__percent-value{
                    color: $white;
                    font-size: 14px;
                    @include bp(large) {
                        font-size: 20px;
                    }
                }

                &:nth-child(1){
                    background-color: #7da0fa;

                    &:hover{
                        background-color: #93aff7;
                    }
                }
                &:nth-child(2){
                    background-color: #4747A1;
                    &:hover {
                        background-color: #5252a0;
                    }
                }
                &:nth-child(3){
                    background-color: #7978E9;
                    &:hover{
                        background-color: #9bb5f7;
                    }
                }
                &:nth-child(4){
                    background-color: #F3797E;
                    &:hover{
                        background-color: #f7898d;
                    }
                }
            
            }
        }
    }

    .order-details{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 50px;


        &__title{
            font-size: 20px;
            font-weight: 500;
            color: $black;
            margin-bottom: 10px; 
        }
        &__text{
            font-size: 16px;
            font-weight: 400;
            color: $black;
        }
        &__box{
            display: flex;
            flex-wrap: wrap;

            @include bp(phone){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .box-item{
                padding-right: 20px;
                margin-bottom: 20px;
                p{
                    font-size: 14px;
                    color: $color-3;
                }
                h4{
                    font-size: 30px;
                    color: $color-5;
                    font-weight: 600;
                }
            }
        }
    }

    .sales-report{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 50px;

        &__inner{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__title {
            font-size: 20px;
            font-weight: 500;
            color: $black;
            margin-bottom: 10px;
        }
        &__link{
            color: $color-8;
            margin-right: 5px;
        }
    }

    .carousel{
        background-color: $white;
        border-radius: 20px;
        padding: 20px;
        position: relative;

        &__control{
            position: absolute;
            right: 20px;
        }
        &__btn{
            cursor: pointer;
            height: 35px;
            width: 35px;
            display: inline-block;
            text-align: center;
            line-height: 1.35;
            border-radius: 10px;
            background-color: #0000001a;
            color: $color-3;
            font-size: 28px;
            transition: background-color .2s ease;

            &:hover{
                background-color: #0000002d;
            }
        }

        &__item{
            width: 100%;
            margin-top: 25px;
            display: flex;
            flex-direction: column;

            @include bp(medium){
                display: grid;
                grid-template-columns: 0.75fr 1fr 2px .6fr;
                grid-gap: 20px;
            }

            .title{
                font-size: 18px;
                text-transform: capitalize;
                margin-bottom: 12px;
                color: $black;
                font-weight: 600;
            }
            .value{
                font-size: 42px;
                color: $color-5;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 5px;
                font-family: $font-secondary;
            }
            .label{
                font-weight: 600;
                font-size: 22px;
                color: $color-5;
                font-family: $font-secondary;
                margin-bottom: 5px;
            }
            .text{
                font-size: 14px;
                color: $color-4;
                margin-bottom: 25px;
            }

            .skills{
                margin-top: 20px;
                margin-bottom: 50px;

                @include bp(medium){
                    margin-bottom: 0;
                }
                
                &__wrapper{
                    width: 100%;
                    margin-bottom: 10px;
                    display: grid;
                    grid-template-columns: 100px 1fr auto;
                    @include bp(medium){
                        margin-bottom: 30px;
                    }
                }

                &__label{
                    font-size: 14px;
                    color: $color-4;
                }
                &__progress{
                    width: 100%;
                    background-color: $color-1;
                    height: 10px;
                    border-radius: 10px;
                    align-self: center;
                    position: relative;
                }
                &__progress-bar{
                    position: absolute;
                    height: 10px;
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    width: 40%;

                    &.bg-1{
                        background-color: $color-5;
                    }
                    &.bg-2{
                        background-color: $color-8;
                    }
                    &.bg-3{
                        background-color: $color-9;
                    }
                }
                &__value{
                    margin-left: 10px;
                    text-align: right;
                }
            }
            .divider{
                width: 1px;
                background-color: $color-1;
                height: 100%;
            }
            .slider-chart{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }
    }
    .top-products{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 50px;
        width: 100%;
        overflow-x: scroll;

        @include bp(small){
            overflow:visible;
        }

        &__title{
            font-size: 18px;
            color: $black;
            font-weight: 600;
            font-family: $font-primary;
            margin-bottom: 20px;
        }

        &__table{

            table{
                min-width: 580px;
                border-collapse: collapse;
                border-spacing: 2px;

                @include bp(small){
                    width: 100%;
                }
                td, th{
                    padding: 18px 22px;
                }

                thead th{
                    font-weight: 500;
                    font-size: 14px;
                    text-align: left;
                }

                tbody tr td{
                    font-weight: 300;
                    font-family: $font-secondary;
                    color: $black;

                    &:nth-of-type(2){
                        font-weight: bold;
                    }
                }
                .status{
                    padding: 5px 7px;
                    border-radius: 15px;
                    font-size: 14px;

                    &--completed{
                        color: $color-0;
                        background-color: $color-10;
                    }
                    &--pending{
                        color: $black;
                        background-color: $color-9;
                    }
                    &--cancelled{
                        color: $color-0;
                        background-color: $color-11;
                    }
                }

                tbody tr:nth-of-type(odd){
                    background-color: #f8f8f8;
                    
                }
            }    
        }
    }
    //TODO-APP element
    .todo-app {

        &__add-task {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;

            input {
                padding: 10px 10px;
                border-radius: 10px;
                border: 1px solid $color-3;
                background-color: transparent;
                outline: none;
                font-size: 14px;
            }

            button {
                border: none;
                border-radius: 10px;
                background-color: $color-5;
                padding: 0 20px;
                cursor: pointer;
                color: $color-0;
                transition: background-color .2s ease-in-out;

                &:hover {
                    background-color: $color-6;
                }
            }


        }

        &__list {
            margin-bottom: 20px;
            overflow-y: auto;
            max-height: 300px;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey;
                border-radius: 10px;
            }
        }

        &__item {
            border: 1px solid $color-3;
            border-radius: 10px;
            padding: 15px 10px;
            margin-bottom: 7px;
            position: relative;
        }

        &__checkbox {
            // Custom style
        }

        &__remove-item {
            border: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            font-size: 20px;
            top: 15px;
            right: 20px;
            transition: color .2s ease-in-out;

            &:hover {
                color: $color-3;
            }
        }
    }

    // main CARDS
    .card{
        background-color: $white;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 50px;

        &__title{
            font-size: 18px;
            font-weight: 500;
            color: $black;
            margin-bottom: 20px;

            &--white{
                color: $color-0;
            }
        }
    }

    // PROJECTS table
    .project-table{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        width: 100%;
        overflow-x: scroll;
        border-collapse: collapse;

        thead{
            border-spacing: 2px;
            text-align: left;
            
            th{
                border-bottom: 1px solid $color-1;
            }
        }
        td{
            padding: 14px 0px;
        }
        td{
            font-size: 14px;
        }

        @include bp(small) {
            overflow: visible;
        }
    }

    .charts{
        margin-bottom: 20px;

        &__item{
            display: flex;
            flex-direction: column;
        }

        &__label{
            font-size: 14px;
            font-family: $font-secondary;
        }

        &__bar{
            display: flex;
        }
        &__progress-bar{
            width: 100%;
            background-color: #b8b8b8;
            height: 10px;
            border-radius: 10px;
            align-self: center;
            position: relative;
        }
        &__progress-inner{
            position: absolute;
            height: 10px;
            width: 40%;
            border-radius: 10px;

            &--bg-1{
                background-color: #4B49AC;
            }
        }
        &__value{
            font-size: 16px;
            font-family: $font-primary;
            margin-left:15px;
        }
    }
    .box-in-chart{
        background-color: #4B49AC;
        border-radius: 20px;
        padding: 20px;

        &__inner{
            display: grid;
            grid-template-columns: .7fr .3fr;
        }
        &__item{
            display: flex;
            flex-direction: column;
        }
        &__subtitle{
            font-size: 28px;
            color: $color-0;
        }
        &__text{
            font-size: 14px;
            color: $color-0;
        }
    }
    // NOTiFICATION
    .icon-data-list{


        &__item{
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 20px;
            margin-bottom: 10px;
        }
        &__avatar{
            width: 50px;    
            height: 50px;
            border-radius: 50%;
        }
        &__info{
            display: flex;
            flex-direction: column;    
        }
        &__name{
            font-size: 15px;
            color: $color-8;
            font-family: $font-secondary;
            margin-bottom: 7px;
        }
        &__description{
            font-size: 15px;
            font-family: $font-secondary;
            margin-bottom: 5px;
        }
        &__time{
            font-family: $font-secondary;
            font-size: 14px;
            color: $color-3;
        }
    }

    // Adcanced Table
    .advanced-table{
        background-color: $white;
        width: 100%;
        overflow-x: scroll;

        @include bp(medium) {
            overflow: visible;
        }

        table{
            min-width: 820px;
            border-collapse: collapse;
            border-spacing: 2px;

            @include bp(medium){
                min-width: 100%;
            }
            

            thead{
                text-align: left;
                background-color: $color-5;
                padding: 5px;
                border-radius: 10px;
                
                th{
                    color: $white;
                    font-size: 15px;
                    font-family: $font-secondary;
                    padding: 10px;
                    &:first-child{
                        border-radius: 8px 0 0 8px;
                    }
                    &:last-child{
                        width: 22px;
                        border-radius: 0 8px 8px 0;
                    }
                }
            }
            tbody{
                tr{
                    &:nth-of-type(even) {
                        background-color: $color-0;
                    }
                }
                td{
                    padding: 10px;
                    font-family: $font-secondary;
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 5px;

                    
                }
            }
        }
    }
}