// DASHBOARD styles

.dashboard{
    z-index: 0;
    &__header{
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        .header{
            &__title{
                font-size: 28px;
                letter-spacing: 1px;
                font-weight: 400;
            }

            &__subtitle{
                font-size: 16px;
                font-weight: 300;
                span{
                    color: $color-5;
                }
            }
            &__btn{
                padding: 7px 15px;
                border-radius: 15px;
                border: 1px solid transparent;
                background-color: #fff;
                color: $color-3;
                cursor: pointer;
                font-weight: 300;
                font-size: 15px;
                transition: border .3s ease, box-shadow .3s ease;

                &:hover{
                    border: 1px solid $color-0;
                }
                &:focus{
                    box-shadow: 0 0 2px 2px #e6e6e6;
                    border: 1px solid $color-0;
                }

                i{
                    margin-left: 5px;
                    transform: rotate(90deg);
                    font-size: 18px;
                }
            }
        }
    }

    &__wrapper{
        width: 100%;
        height: auto;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
        @include bp(medium){
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);

        }


        .weather-box{
            position: relative;
            border-radius: 20px;

            &__background{
                width: 100%;
                border-radius: 20px;
            }

            .weather-info{
                position: absolute;
                top: 30px;
                right: 50px;
            }
        }
        
        .card-box{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,1fr);
            grid-gap: 20px;

            .card-body{
                border-radius: 20px;
                padding: 20px;
                background-color: red;

                &__title{
                    color: $white;
                    font-size: 16px;
                    margin-bottom: 15px;

                    @include bp(large) {
                        margin-bottom: 25px;
                    }
                }
                &__value{
                    color: $white;
                    font-size: 26px;

                    @include bp(large){
                        font-size: 40px;
                    }
                }
                &__percent-value{
                    color: $white;
                    font-size: 14px;
                    @include bp(large) {
                        font-size: 20px;
                    }
                }

                &:nth-child(1){
                    background-color: #7DA0FA;

                    &:hover{
                        background-color: #93aff7;
                    }
                }
                &:nth-child(2){
                    background-color: #4747A1;
                    &:hover {
                        background-color: #5252a0;
                    }
                }
                &:nth-child(3){
                    background-color: #7978E9;
                    &:hover{
                        background-color: #9bb5f7;
                    }
                }
                &:nth-child(4){
                    background-color: #F3797E;
                    &:hover{
                        background-color: #f7898d;
                    }
                }
            
            }
        }
    }

    .order-details{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 50px;


        &__title{
            font-size: 20px;
            font-weight: 500;
            color: $black;
            margin-bottom: 10px; 
        }
        &__text{
            font-size: 16px;
            font-weight: 400;
            color: $black;
        }
        &__box{
            display: flex;
            flex-wrap: wrap;

            @include bp(phone){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .box-item{
                padding-right: 20px;
                margin-bottom: 20px;
                p{
                    font-size: 14px;
                    color: $color-3;
                }
                h4{
                    font-size: 30px;
                    color: $color-5;
                    font-weight: 600;
                }
            }
        }
    }

    .sales-report{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
                margin-bottom: 50px;

        &__inner{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__title {
            font-size: 20px;
            font-weight: 500;
            color: $black;
            margin-bottom: 10px;
        }
        &__link{
            color: $color-8;
            margin-right: 5px;
        }
    }

    .carousel{
        background-color: $white;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        &__control{
            position: absolute;
            right: 20px;
        }
        &__btn{
            cursor: pointer;
            height: 35px;
            width: 35px;
            display: inline-block;
            text-align: center;
            line-height: 1.35;
            border-radius: 10px;
            background-color: #0000001a;
            color: $color-3;
            font-size: 28px;
            transition: background-color .2s ease;

            &:hover{
                background-color: #0000002d;
            }
        }

        &__item{
            width: 100%;
            margin-top: 25px;
            display: flex;
            flex-direction: column;

            @include bp(medium){
                display: grid;
                grid-template-columns: 0.75fr 1fr 1fr;
                grid-gap: 20px;
            }

            .title{
                font-size: 18px;
                text-transform: capitalize;
                margin-bottom: 12px;
                color: $black;
                font-weight: 600;
            }
            .value{
                font-size: 42px;
                color: $color-5;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 5px;
                font-family: $font-secondary;
            }
            .label{
                font-weight: 600;
                font-size: 22px;
                color: $color-5;
                font-family: $font-secondary;
                margin-bottom: 5px;
            }
            .text{
                font-size: 14px;
                color: $color-4;
                margin-bottom: 25px;
            }

            .skills{
                
                &__wrapper{
                    width: 100%;
                    margin-bottom: 10px;
                    display: grid;
                    grid-template-columns: 100px 1fr auto;
                    @include bp(medium){
                        margin-bottom: 30px;
                    }
                }

                &__label{
                    font-size: 14px;
                    color: $color-4;
                }
                &__progress{
                    width: 100%;
                    background-color: $color-1;
                    height: 10px;
                    border-radius: 10px;
                    align-self: center;
                    position: relative;
                }
                &__progress-bar{
                    position: absolute;
                    height: 10px;
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    width: 40%;

                    &.bg-1{
                        background-color: $color-5;
                    }
                    &.bg-2{
                        background-color: $color-8;
                    }
                    &.bg-3{
                        background-color: $color-9;
                    }
                }
                &__value{
                    margin-left: 10px;
                    text-align: right;
                }
            }
        }
    }
}