.main-section{
    position: absolute;
    width: calc(100% - 50px);
    top: 50px;
    left:50px;
    background-color: $color-7;
    transition: width .3s ease-in-out, left .3s ease-in-out;
    padding: 30px;
}
.panel-active{
    width: calc(100% - 300px);
    left: 300px;
}

.second-section{
    width: 100%;
    display: flex;
    flex-direction: column;

    @include bp(medium){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

.third-section{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
    &--col-2{

        @include bp(medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }

    &--col-3{

        @include bp(medium) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
    }
}