@import '_settings.scss';

.navbar{
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    background-color: $white;
    z-index: 999;
    box-shadow: 0 0 10px 0px $color-1;

    @include bp(phone){
        grid-template-columns: 150px 1fr 50px;
        padding: 0px 30px;
    }
    @include bp(small){
        grid-template-columns: 150px 1fr 110px;
    }
    @include bp(medium){
        grid-template-columns: 200px 1fr 110px;
    }

    &__brand{
        display: flex;
        height: 50px;
        align-items: center;
        grid-column: 1;
        grid-row: 1;

        i {
            font-size:  30px;
            color: $color-8;
        }

        label{
            color: $color-3;
            margin-left: 10px;
            transform: translate(-100%);
            opacity: 0;
            transition: all .3s;
            z-index: -1;
            font-family: $font-secondary;
            
            @include bp(phone) {
                font-size: 14px;
                // display: block;
                transform: translate(0);
                opacity: 1;
            }
            @include bp(medium){
                font-size: 16px;
            }
            @include bp(desktop){
                font-size: 20px;
            }
        }
    }

    &__menu{
        display: flex;
        align-items: center;
        justify-content: end;
        height: 50px;

        @include bp(small){
            padding-left: 20px;
            justify-content: start;
            grid-column: 2;
            grid-row: 1;
            border-left: 1px solid $color-0;
            border-radius: 50px;
        }

        .hamburger{
            font-size: 25px;
            cursor: pointer;
            background-color: transparent;
            border:none;

            i{
                color: $color-1;
            }
        }
        .search{
            margin-left: 20px;
            position: relative;
            display: none;
            
            @include bp(small) {
                display: flex;
            }

            i{
                color: $color-3;
                position: absolute;
                z-index: -1;
                top: 5px;
                left: 8px;
            }
            
            input{
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 300;
                letter-spacing: 1px;
                background-color: transparent;
                border-radius: 30px;
                height: 30px;
                padding-left: 30px;
                color: $color-3;
                transition: .3s;

                &:focus,
                &:hover{
                    box-shadow: 0px 0px 10px $opacity-dark;
                }
                &::placeholder{
                    color: $color-1;
                }
            }

        }
    }

    &__settings{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        margin-right: 0;
        margin-left: auto;
        @include bp(small){
            grid-column: 3;
            grid-row: 1;
        }

        .notification{
            display: flex;
            justify-content: center;
            align-items: center;

            &__wrapper{
                position: relative;
                width: 30px;
            }
            &__btn{
                width: 100%;
                height: 30px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                position: relative;
                
                i{
                    color: $color-1;
                    font-size: 20px;
                    transition: color .3s ease;
                    &:hover{
                        color: $color-3;
                    }
                }

                &::before{
                    content: '3';
                    color: $white;
                    font-size: 10px;
                    position: absolute;
                    left: 16px;
                    top: -3px;
                    width: 12px;
                    height: 12px;
                    background-color: $color-5;
                    border-radius: 10px;
                }
            }
            &__dropdown{
                top: 50px;
                left: -230px;
                border-radius: 5px;
                position: absolute;
                background-color: $white;
                min-width: 250px;
                height: auto;
                box-shadow: $box-shadow;
                opacity: 0;
                pointer-events: none;
                transform: translateY(-10px);
                transition: opacity .3s ease-in-out, transform .3s ease-in-out;

                @include bp(phone){
                    left: -230px;
                }

                .dropdown{
                    padding-top: 10px;
                    
                    &__title{
                        color: $black;
                        font-size: 16px;
                        letter-spacing: 1px;
                        font-weight: 300;
                        padding: 0px 10px;
                        margin-bottom: 10px;
                    }
                    &__items{
                        width: 100%;
                        padding: 10px 15px;
                        cursor: pointer;
                        transition: background .2s ease-in-out;

                        &:hover {
                            background: #e2e2e2b9;
                        }

                        &:last-child{
                            border-radius: 0px 0px 5px 5px;
                        }
                        a{
                            display: flex;
                            width: 100%;
                            height: 100%;
                            color: $black;
                        }
                        i{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            color:$white;
                            text-align: center;
                            line-height: 40px;
                            font-size: 23px;
                            background-color: $color-10;
                        }
                        .item-box{
                            margin-left: 10px;
                            h6{
                                font-size: 16px;
                                font-weight: 300;
                                color: $black;
                            }
                            p{
                                font-size: 14px;
                                font-weight: 300;
                                color: $color-3;
                            }
                        }
                    }
                }
            }
        }
        .profile{
            width: 35px;
            height: 35px;
            transform: translateY(-3px);
            cursor: pointer;
            position: relative;

            img{
                border-radius: 50%;
                width: 100%;
            }

            &__dropdown{
                position: absolute;
                background-color: $white;
                min-width: 150px;
                top: 55px;
                left: -130px;
                border-radius: 5px;
                z-index: 999;
                box-shadow: $box-shadow;
                opacity: 0;
                pointer-events: none;
                transform: translateY(-10px);
                transition: opacity .3s ease-in-out, transform .3s ease-in-out;

                &.active{
                    opacity: 1;
                    transform: translateY(0);
                    pointer-events: auto;
                }
            }

            &__inner{
                padding: 10px 0;
            }

            &__item{
                width: 100%;
                padding: 10px 15px;
                cursor: pointer;
                transition: background .2s ease-in-out;
                
                &:hover {
                    background: #e2e2e2b9;
                }

                i{
                    color: $color-5;
                    font-size: 23px;
                }
            }

            &__link{
                display: flex;
                align-items: center;

                h6{
                    margin-left: 10px;
                    font-size: 18px;
                    font-weight: 300;
                }
            }
        }
        .todo-btn{
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            i{
                font-size: 20px;
                color: $color-1;
                transform: rotate(90deg);
                transition: color .3s ease;

                &:hover{
                    color: $color-3;
                }
            }
        }
    }
    .notification__wrapper.active .notification__dropdown,
    .profile.active .profile__dropdown {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}
// .show {
//     animation: show-dropdown .3s forwards;
// }

// .hide {
//     animation: hide-dropdown .3s forwards;
// }

// @keyframes show-dropdown {
//     0% {
//         // visibility: hidden;
//         opacity: 0;
//         transform: translateY(-20px);
//     }
//     1%{
//         visibility: visible;
//         opacity: 0;
//         transform: translateY(-20px);
//     }
//     100% {
//         opacity: 1;
//         transform: translateY(0);
//         display: visible;
//     }
// }

// @keyframes hide-dropdown {
//     0% {
//         // visibility: visible;
//         opacity: 1;
//         transform: translateY(0px);
//     }

//     99%{
//     visibility: visible;
//     opacity: 0;
//     transform: translateY(-20px);
    
//     }
//     100%{
//         visibility: hidden;
//     }

// }