.right-sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: $white;
    
    top: 50px;
    right: 0;
    bottom: 0;
    border-left: 1px solid $color-1;
    transform: translateX(300px);
    transition: transform .3s ease-in-out, box-shadow .3s ease;
    z-index: 10;
    overflow-y: scroll;

    &--active{
        transform: translateX(0);
        box-shadow: $box-shadow;
    }

    &__close-btn{
        position: absolute;
        right: 10px;
        top: 6px;
        background-color: transparent;
        font-size: 25px;
        outline: none;
        padding: 5px;
        color: $color-1;
        cursor: pointer;
        border: none;
        transition: transform .3s ease-in-out;

        &:hover{
            transform: rotate(90deg);
        }
    }

    &__nav{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid $color-0;

        .nav{
            display: flex;
            height: 50px;
            padding-right: 50px;
            justify-content: space-around;
            align-items: center;

            &__item{
            }
            &__link{
                padding: 2px;
                color: $color-1;
                text-transform: uppercase;

                &:hover{
                    color: $color-3;
                }

                &--active{
                    color: $color-5;
                    
                    &:hover{
                        color:$color-6;
                    }

                }
            }
        }
    }

    &__content{
        width: 100%;
        height: auto;
        padding: 0 10px;

        //TODO-APP element
        .todo-app{

            &__add-task{
                padding: 20px 0;
                display: flex;
                justify-content: space-between;
    
                input{
                    padding: 10px 10px;
                    border-radius: 10px;
                    border: 1px solid $color-1;
                    background-color: transparent;
                    outline: none;
                    font-size: 14px;
                }
                button{
                    border: none;
                    border-radius: 10px;
                    background-color: $color-5;
                    padding: 0 20px;
                    font-family: $font-secondary;
                    cursor: pointer;
                    color: $white;
                    transition: background-color .2s ease-in-out;

                    &:hover{
                        background-color: $color-6;
                    }
                }
            }

            &__list{
                margin-bottom: 20px;
                overflow-y: auto;
                max-height: 300px;

                // CUSTOM SCROLLBAR
                &::-webkit-scrollbar {
                    width: 3px;
                }

                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: darkgrey;
                    outline: 1px solid slategrey;
                    border-radius: 10px;
                }
            }

            &__item{
                border:1px solid $color-1;
                border-radius: 10px;
                padding: 15px 10px;
                margin-bottom: 7px;
                position: relative;
            }

            &__checkbox{
                // Custom style
            }
            &__remove-item{
                border: none;
                outline: none;
                cursor: pointer;
                position: absolute;
                font-size: 20px;
                top: 15px;
                right: 20px;
                transition: color .2s ease-in-out;
                background-color: $white;

                i{
                    color: $color-3;
                    transition: color .3s ease;

                    &:hover{
                        color: $color-9;
                    }
                }
            }
        }
        // EVENTS SECTION
        .events{
            &__title{
                font-size: 26px;
                font-weight: 300;
                color: $color-4;
                margin-bottom: 20px;
            }
            &__event-item{
                margin-bottom: 20px;
                .date{
                    display: flex;
                    align-items: center;

                    p{
                        margin-left: 10px;
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
                .event-description{
                    font-size: 16px;
                    font-weight: 300;
                    color: $color-4;
                    // margin-bottom: 10px;
                }
            }
        }
    }
}