//////////////////////////////////////////          COLORS
$black: #000;
$color-1: #b8b8b8;

////////////////////////////////////////            FONTS


///////////////////////////////////////             GRADIENT

// $primary-gradient: linear-gradient(180deg, rgba(198, 198, 198, 1) 0%, rgb(113, 119, 103) 100%);

///////////////////////////////////////             GRADIENT

// $black-opacity: rgba(0, 0, 0, 0.5);

///////////////////////////////////////             BREAKPOINTs

$bp-large: 1600px;
$bp-desktop: 1200px;
$bp-medium: 992px;
$bp-small: 768px;
$bp-phone: 576px;

