//////////////////////////////////////////          COLORS
$black: #000;
$color-1: #b8b8b8;
$color-2: #62c5c0;
$color-3: #6e6e6e;

////////////////////////////////////////            FONTS
////////////////////////////////////////            BOX SHADOW
$box-shadow: 0px 0px 10px #00000052;

///////////////////////////////////////             GRADIENT

// $primary-gradient: linear-gradient(180deg, rgba(198, 198, 198, 1) 0%, rgb(113, 119, 103) 100%);

///////////////////////////////////////             GRADIENT

// $black-opacity: rgba(0, 0, 0, 0.5);

///////////////////////////////////////             BREAKPOINTs

$bp-large: 1600px;
$bp-desktop: 1200px;
$bp-medium: 992px;
$bp-small: 768px;
$bp-phone: 576px;

